html{
	padding-top: 0px;
}
html,body{
	height: 100%;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 15%;
}

html,body>.container-fluid>.row>#logIn{
	background-color: rgba(0, 0, 110, 0.5);
	height: 100%;

}
html,body>.container-fluid>.row>#signUp{
	background-color: rgba(230, 18, 22, 0.5);
	height: 100%;
}
.col-sm-6{
	padding-top: 25%;
}
html,body>.container-fluid>.row>.col-sm-6>.text{
	font-family: 'Lora', serif;
	font-size: 3.5em;
	vertical-align: middle;
	text-align: center;
	color: white;
	cursor:pointer

}
html,body>.container-fluid>.row>.col-sm-6>.text:hover{
	font-size: 5.5em;
	cursor:pointer
}
